# Database
POSTGRES_USER=<ваш_пользователь>
POSTGRES_PASSWORD=<ваш_пароль>
POSTGRES_DB=<название_базы>
POSTGRES_HOST=<хост_базы>
POSTGRES_PORT=<порт_базы>

# Redis
REDIS_DB=<номер_бд>
REDIS_HOST=<хост_redis>
REDIS_PORT=<порт_redis>

# JWT
JWT_SECRET_KEY=<секретный_ключ_для_JWT_создать_в_app/auth/key_gen.py>
JWT_ALGORITHM=HS256
